# Скопируй этот файл в .env и заполни своими данными
BOT_TOKEN=сюда_токен_бота
BOT_USERNAME=Lira_search_robot
ADMIN_ID=сюда_твой_telegram_id
BOT_NAME=Lira
SUPPORT_USERNAME=@normoy
CRYPTOPAY_TOKEN=сюда_токен_cryptobot

# Путь к БД. На BotHost оставь lira.db
DB_PATH=lira.db
